body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'SourceHanSans-Light';
  font-size: 3.4rem;
}
.display-1 > .mbr-iconfont {
  font-size: 5.44rem;
}
.display-2 {
  font-family: 'SourceHanSans-Light';
  font-size: 2.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.48rem;
}
.display-4 {
  font-family: 'SourceHanSans-Light';
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'SourceHanSans-Light';
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'SourceHanSans-Light';
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.72rem;
    font-size: calc( 1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #41aadb !important;
}
.bg-success {
  background-color: #404042 !important;
}
.bg-info {
  background-color: #808080 !important;
}
.bg-warning {
  background-color: #f18282 !important;
}
.bg-danger {
  background-color: #e0797a !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #41aadb !important;
  border-color: #41aadb !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2181ae !important;
  border-color: #2181ae !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2181ae !important;
  border-color: #2181ae !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #249ad0 !important;
  border-color: #249ad0 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #196a8f !important;
  border-color: #196a8f !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #196a8f !important;
  border-color: #196a8f !important;
}
.btn-info,
.btn-info:active {
  background-color: #808080 !important;
  border-color: #808080 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #5a5a5a !important;
  border-color: #5a5a5a !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5a5a5a !important;
  border-color: #5a5a5a !important;
}
.btn-success,
.btn-success:active {
  background-color: #404042 !important;
  border-color: #404042 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #1a1a1b !important;
  border-color: #1a1a1b !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1a1a1b !important;
  border-color: #1a1a1b !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #f18282 !important;
  border-color: #f18282 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #e93d3d !important;
  border-color: #e93d3d !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e93d3d !important;
  border-color: #e93d3d !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #e0797a !important;
  border-color: #e0797a !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #d23b3c !important;
  border-color: #d23b3c !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #d23b3c !important;
  border-color: #d23b3c !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #1d7299;
  color: #1d7299;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #41aadb;
  border-color: #41aadb;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #41aadb !important;
  border-color: #41aadb !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #155a79;
  color: #155a79;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #249ad0;
  border-color: #249ad0;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #249ad0 !important;
  border-color: #249ad0 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4d4d4d;
  color: #4d4d4d;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #0e0e0e;
  color: #0e0e0e;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #404042;
  border-color: #404042;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #404042 !important;
  border-color: #404042 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #e72626;
  color: #e72626;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f18282;
  border-color: #f18282;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f18282 !important;
  border-color: #f18282 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #c52e2f;
  color: #c52e2f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #e0797a;
  border-color: #e0797a;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e0797a !important;
  border-color: #e0797a !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #41aadb !important;
}
.text-secondary {
  color: #249ad0 !important;
}
.text-success {
  color: #404042 !important;
}
.text-info {
  color: #808080 !important;
}
.text-warning {
  color: #f18282 !important;
}
.text-danger {
  color: #e0797a !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1d7299 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #155a79 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #0e0e0e !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4d4d4d !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #e72626 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #c52e2f !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #808080;
}
.alert-warning {
  background-color: #f18282;
}
.alert-danger {
  background-color: #e0797a;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #41aadb;
  border-color: #41aadb;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #41aadb;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #edf7fb;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b3b3b5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c0c0c0;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'SourceHanSans-Light';
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #41aadb;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #41aadb;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #41aadb;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #41aadb;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #41aadb;
}
/* Headers*/
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-qZsAdehuR5 .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qZsAdehuR5 .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qZsAdehuR5 a {
  font-style: normal;
}
.cid-qZsAdehuR5 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qZsAdehuR5 .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qZsAdehuR5 .nav-item:focus,
.cid-qZsAdehuR5 .nav-link:focus {
  outline: none;
}
.cid-qZsAdehuR5 .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qZsAdehuR5 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qZsAdehuR5 .menu-logo {
  margin-right: auto;
}
.cid-qZsAdehuR5 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qZsAdehuR5 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qZsAdehuR5 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qZsAdehuR5 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qZsAdehuR5 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qZsAdehuR5 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qZsAdehuR5 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qZsAdehuR5 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qZsAdehuR5 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qZsAdehuR5 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qZsAdehuR5 .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qZsAdehuR5 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qZsAdehuR5 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qZsAdehuR5 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qZsAdehuR5 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qZsAdehuR5 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qZsAdehuR5 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qZsAdehuR5 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qZsAdehuR5 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qZsAdehuR5 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qZsAdehuR5 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qZsAdehuR5 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qZsAdehuR5 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qZsAdehuR5 button.navbar-toggler:focus {
  outline: none;
}
.cid-qZsAdehuR5 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #808080;
}
.cid-qZsAdehuR5 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qZsAdehuR5 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qZsAdehuR5 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qZsAdehuR5 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qZsAdehuR5 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qZsAdehuR5 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qZsAdehuR5 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qZsAdehuR5 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qZsAdehuR5 .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qZsAdehuR5 .collapsed .btn {
  display: flex;
}
.cid-qZsAdehuR5 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qZsAdehuR5 .collapsed .navbar-collapse.collapsing,
.cid-qZsAdehuR5 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qZsAdehuR5 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qZsAdehuR5 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qZsAdehuR5 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qZsAdehuR5 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qZsAdehuR5 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qZsAdehuR5 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qZsAdehuR5 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qZsAdehuR5 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qZsAdehuR5 .collapsed button.navbar-toggler {
  display: block;
}
.cid-qZsAdehuR5 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qZsAdehuR5 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qZsAdehuR5 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qZsAdehuR5 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qZsAdehuR5 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qZsAdehuR5 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qZsAdehuR5.navbar-expand {
    flex-direction: column;
  }
  .cid-qZsAdehuR5 img {
    height: 3.8rem !important;
  }
  .cid-qZsAdehuR5 .btn {
    display: flex;
  }
  .cid-qZsAdehuR5 button.navbar-toggler {
    display: block;
  }
  .cid-qZsAdehuR5 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qZsAdehuR5 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qZsAdehuR5 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qZsAdehuR5 .navbar-collapse.collapsing,
  .cid-qZsAdehuR5 .navbar-collapse.show {
    display: block !important;
  }
  .cid-qZsAdehuR5 .navbar-collapse.collapsing .navbar-nav,
  .cid-qZsAdehuR5 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qZsAdehuR5 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qZsAdehuR5 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qZsAdehuR5 .navbar-collapse.collapsing .navbar-buttons,
  .cid-qZsAdehuR5 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qZsAdehuR5 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qZsAdehuR5 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qZsAdehuR5 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qZsAdehuR5 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qZsAdehuR5 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qZsAdehuR5 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qZsAdehuR5 .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qZsAdehuR5 .navbar-collapse {
  flex-basis: auto;
}
.cid-qZsAdehuR5 .nav-link:hover,
.cid-qZsAdehuR5 .dropdown-item:hover {
  color: #41aadb !important;
}
.cid-qZsAfrmaYN {
  padding-top: 120px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/background-2000x1000.jpg");
}
.cid-qZsAfrmaYN .media-container-row {
  flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-qZsAfrmaYN .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qZsAfrmaYN .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qZsAfrmaYN .mbr-text {
    text-align: center;
  }
}
.cid-qZsAfrmaYN H1 {
  color: #404042;
}
.cid-qZsAfrmaYN H3 {
  color: #767676;
  text-align: center;
}
.cid-qZsAfrmaYN .mbr-text,
.cid-qZsAfrmaYN .mbr-section-btn {
  color: #55b4d4;
}
.cid-qZsAfrmaYN DIV {
  text-align: center;
}
.cid-qZsAg6Jr9K {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qZsAg6Jr9K .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-qZsAg6Jr9K .number-wrap {
  color: #c6c6c6;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-qZsAg6Jr9K .number {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
  color: #404042;
}
.cid-qZsAg6Jr9K .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-qZsAg6Jr9K .dot {
  position: absolute;
  top: -10px;
  right: -1em;
  width: 1em;
  display: block;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #404042;
}
.cid-qZsAg6Jr9K .countdown-cont {
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qZsAg6Jr9K .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-qZsAg6Jr9K .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-qZsAg6Jr9K .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
  }
  .cid-qZsAg6Jr9K .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-qZsAg6Jr9K .number,
  .cid-qZsAg6Jr9K .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-qZsAg6Jr9K .period {
    font-size: 0.8rem;
  }
}
.cid-qZsAh1t8R8 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.cid-qZsAh1t8R8 H2 {
  text-align: left;
}
.cid-qZsAh1t8R8 H3 {
  text-align: left;
}
.cid-qZsAh1t8R8 .mbr-text,
.cid-qZsAh1t8R8 .mbr-section-btn {
  text-align: left;
}
.cid-qZsAhtiJx1 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e7f6fc;
}
.cid-qZsAhtiJx1 .mbr-section-subtitle {
  color: #767676;
}
.cid-qZsAhtiJx1 .container-table {
  margin: 0 auto;
}
.cid-qZsAhtiJx1 .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-qZsAhtiJx1 .dataTables_wrapper {
  display: block;
}
.cid-qZsAhtiJx1 .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-qZsAhtiJx1 .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-qZsAhtiJx1 table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #ffffff;
  margin-bottom: 0;
}
.cid-qZsAhtiJx1 table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-qZsAhtiJx1 table th:hover {
  background: #ffffff;
  color: #000000;
}
.cid-qZsAhtiJx1 table td {
  border-top: 1px solid #ffffff;
}
.cid-qZsAhtiJx1 table.table {
  background: #ffffff;
}
.cid-qZsAhtiJx1 .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-qZsAhtiJx1 .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-qZsAhtiJx1 .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-qZsAhtiJx1 .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-qZsAhtiJx1 .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-qZsAhtiJx1 .dataTables_filter {
    text-align: center;
  }
  .cid-qZsAhtiJx1 .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-qZsAhtiJx1 .body-item {
  text-align: center;
  color: #808080;
}
.cid-qZsAhtiJx1 .head-item {
  text-align: center;
  color: #404042;
}
.cid-qZsAjPDpHI {
  padding-top: 90px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-qZsAjPDpHI .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qZsAjPDpHI .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qZsAjPDpHI .mbr-text {
    text-align: center;
  }
}
.cid-qZsAjPDpHI H1 {
  color: #404042;
  text-align: center;
}
.cid-qZsAjPDpHI .mbr-text,
.cid-qZsAjPDpHI .mbr-section-btn {
  color: #808080;
  text-align: center;
}
.cid-qZsAjPDpHI H3 {
  color: #808080;
  text-align: center;
}
.cid-qZsAkWzSJP {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/background-2000x1000.jpg");
}
.cid-qZsAkWzSJP .mbr-section-subtitle {
  color: #767676;
}
.cid-qZsAkWzSJP .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-qZsAkWzSJP .mbr-text {
  color: #767676;
}
.cid-qZsAkWzSJP .mbr-author-desc {
  display: block;
  color: #767676;
}
.cid-qZsAkWzSJP .mbr-author-name {
  color: #767676;
}
.cid-qZsAkWzSJP .mbr-testimonial .panel-item {
  background-color: #ffffff;
}
.cid-qZsAkWzSJP .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2.4rem 2.4rem 0 2.4rem;
}
.cid-qZsAkWzSJP .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-qZsAkWzSJP .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-qZsAkWzSJP .mbr-testimonial .card-footer {
  padding-bottom: 2.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-qZsAkWzSJP .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-qZsAlMQT9A {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e7f6fc;
}
.cid-qZsAlMQT9A .card-box {
  padding: 0 2rem;
}
.cid-qZsAlMQT9A .mbr-section-btn {
  padding-top: 1rem;
}
.cid-qZsAlMQT9A .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-qZsAlMQT9A h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-qZsAlMQT9A p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-qZsAlMQT9A .mbr-text {
  color: #41aadb;
  text-align: center;
}
.cid-qZsAlMQT9A .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qZsAlMQT9A .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-qZsAlMQT9A .card-title {
  color: #404042;
  text-align: center;
}
.cid-qZyuczbYAQ {
  padding-top: 45px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/background-2000x1000.jpg");
}
.cid-qZyuczbYAQ .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.cid-qZyuczbYAQ .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-qZyuczbYAQ .mbr-figure img {
    width: 100% !important;
  }
}
.cid-qZyuczbYAQ SPAN {
  color: #404042;
}
.cid-qZyuczbYAQ .mbr-text,
.cid-qZyuczbYAQ .mbr-section-btn {
  color: #808080;
}
.cid-qZyuczbYAQ H3 {
  color: #41aadb;
}
.cid-qZsAnYJ5fS {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  position: relative;
}
.cid-qZsAnYJ5fS p {
  color: #767676;
}
.cid-qZsAnYJ5fS .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-qZsAnYJ5fS .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-qZsAnYJ5fS .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-qZsAnYJ5fS .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-qZsAnYJ5fS .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-qZsAnYJ5fS .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-qZsAnYJ5fS H4 {
  color: #404042;
}
.cid-qZsAnYJ5fS H2 {
  color: #404042;
}
.cid-qZsAnYJ5fS P {
  color: #404042;
}
.cid-qZsAotTv1H {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e6e6e6;
}
.cid-qZsAotTv1H .counter-container {
  color: #767676;
}
.cid-qZsAotTv1H .counter-container ol {
  margin-bottom: 0;
}
.cid-qZsAotTv1H .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-qZsApue6uB {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #2e2e2e;
}
.cid-qZsApue6uB .row-links {
  width: 100%;
  justify-content: center;
}
.cid-qZsApue6uB .social-row {
  width: 100%;
  justify-content: center;
}
.cid-qZsApue6uB .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-qZsApue6uB .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-qZsApue6uB .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-qZsApue6uB .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-qZsApue6uB .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qZsApue6uB .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qZsApue6uB .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qZsApue6uB .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qZsApue6uB .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qZsApue6uB .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qZsApue6uB .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-qZsApue6uB .media-container-row .row-copirayt p {
  width: 100%;
}
